.dashboard-layout {
  display: flex;
  min-height: 100vh;

  .dashboard-main {
    flex: 1;
    margin-left: 160px;
    padding: 28px 32px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    @media (max-width: 992px) {
      padding: 20px 18px;
    }
  }
}